<div class="login">
  <h1 class="text-center">Sign Up for Newsletter</h1>
  <div>
    <form name="signUpForm" id="signUpForm" novalidate="novalidate" autocomplete="off">
      <div class="form-group">
        <label>First Name</label>
        <br />
        <div
          ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched">
          Please enter First Name
        </div>
        <input type="text" name="firstName" id="firstName"
          ng-model="signUpCtrl.firstName"
          required="required"
          placeholder="First Name"
          value=""
          ng-maxlength="50"
          autofocus="autofocus" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <br />
        <div
          ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched">
          Please enter Last Name
        </div>
        <input type="text" name="lastName" id="lastName"
          ng-model="signUpCtrl.lastName"
          required="required"
          placeholder="Last Name"
          value="" />
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <br />
        <div
          ng-if="signUpForm.emailAddress.$error.required && signUpForm.emailAddress.$touched">
          Please enter Email Address
        </div>
        <div
          ng-if="signUpForm.emailAddress.$touched && signUpForm.emailAddress.$invalid && signUpForm.emailAddress.$error.email">
          Email Address is invalid
        </div>
        <input type="email" name="emailAddress" id="emailAddress"
          ng-model="signUpCtrl.emailAddress"
          required="required"
          placeholder="Email Address"
          value="" />
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <br />
        <div
          ng-if="signUpForm.phoneNum.$error.required && signUpForm.phoneNum.$touched">
          Please enter Phone Number
        </div>
        <input type="text" name="phoneNum" id="phoneNum"
          ng-model="signUpCtrl.phoneNum"
          required="required"
          placeholder="###-###-####"
          pattern="(\d{3})-(\d{3})-(\d{4})"
          value="" />
      </div>
      <div class="form-group">
        <label>Favorite Dish</label>
        <br />
        <div
          ng-if="signUpForm.favDish.$error.required && signUpForm.favDish.$touched">
          Please enter your favorite dish
        </div>
        <input type="text" name="favDish" id="favDish"
          ng-model="signUpCtrl.favDish"
          required="required"
          placeholder="Favorite Dish"
          value="" />
        <span ng-if="signUpCtrl.error.length > 0">
          {{signUpCtrl.error}}
        </span>
      </div>
      <div class="form-group">
        <input type="submit" name="submit" id="submit"
          value="Submit"
          ng-click="signUpCtrl.validate()"
          ng-disabled="signUpForm.$invalid" /><!-- ng-disabled="signUpForm.$invalid" -->
      </div>
    </form>
  </div>
</div>

<div ng-if="signUpCtrl.success.length > 0">
  {{signUpCtrl.success}}
</div>
